/*colors*/
$primary-txt-color: #3b3b3b;
$secondary-txt-color: #5a6268;

$primary-color: #0056b3;
$light-primary-color: #448AFF;
$success-color: #008F39;
$light-success-color: #00B74A;
$info-color: #097c93;
$light-info-color: #1094ae;
$warning-color: #ff9103;
$light-warning-color: #fda93c;
$danger-color: #d11528;
$light-danger-color: #ff374b;

$border-color: #e0e0e0;
