@import "normalize";
@import "variables";
@import "globals";
@import "header";
@import "nav";
@import "rutina";
@import "cardio";
@import "progresion";
@import "nutricion";
@import "asistente";
@import "confetti";